body{
    color: #fff;
    background-color: black !important;
}
html {
    scroll-behavior: smooth;
}

h3 {
  text-align: center;
}
h1 {
    text-align: center;
  }
q{
    text-align: center;
    color: black;
    font-size-adjust: unset;
    font-style: oblique;
    
}
.a a {
        font-weight: bolder;
        display: inline-block;
        align-items: center;
        text-decoration: none;
        color: rgb(250, 244, 244);
        background-color: rgb(85, 85, 85);
        border-radius: 10px;
        padding: 7px 10px;
        margin-top: 8px;
        
}

.b {
    width: 100%;
}

body{
    background-color: rgb(218, 210, 179);
}
i{
    align-self: center;
    
}
.a a:hover{
    transform: scale(1.1);
    transition: ease-in-out (0.3sec);
    align-items: center;
}